<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Traveling Tourist</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap-material-design/dist/css/ripples.min.css">
  <link rel="stylesheet" href="static/bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="static/bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="static/app/app.css">
  <link rel="stylesheet" href="static/app/timepicker.css">
  <script src="static/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
<body>

  <div id="nav" style="float:left; width:30%" ng-view></div>
  <div id="map" style="float:right; width:70%"></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="static/bower_components/lodash/dist/lodash.min.js"></script>
  <script src="static/bower_components/angular/angular.js"></script>
  <script src="static/bower_components/angular-route/angular-route.js"></script>
  <script src="static/app/app.js"></script>
  <script src="static/app/main/MainController.js"></script>
  <script src="static/app/results/ResultsController.js"></script>
  <script src="static/app/services/Itinerary.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkgL2urg37a6qZ5OMqRyDlMAp2wwbdEcI&callback=initMap&libraries=places"></script>


  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
  </script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="static/bower_components/bootstrap-material-design/dist/js/material.js"></script>
  <script src="static/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script src="static/bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

</body>
</html>
