<img id="logo" src="static/images/logo.png" style="width: 120px; display: inline-block">
<div style="font-family: Roboto; display: inline-block; color: #407488; font-weight: 700; font-size: 18px; vertical-align: middle"> 
    The Traveling Tourist
</div>

<input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
<div class="pickers">
    <div class="input-group bootstrap-timepicker timepicker">
        <input id="timepicker1" type="text" class="form-control input-small">
        <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectMode}}
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li ng-repeat="option in travelOptions" ng-click="updateMode(option.name)"><a href="">{{option.prettyName}}</a></li>
      </ul>
    </div>
</div>

<div class="container">
    <div class="card well container-fluid" ng-show="places.length" ng-repeat="place in places track by $index">
        <div class="left">
            <img class="building-icon" src="{{ place.icon }}" alt="icon">
        </div>
        <div class="right">
            <div class="location-name">
                <h4>{{ place.name }}</h4>
            </div>
            <div class="address">{{ place.formatted_address }}</div>
            <div class="duration">Duration:
                <div class="form-group duration">
                    <input class="form-control" ng-model="place.duration" id="duration-input" type="number" placeholder="{{ place.duration }}">
                </div> minutes</div>
        </div>
        <img id="close-icon" src="static/images/cross.svg" ng-click="removePlace($index)" alt="close-icon">
    </div>

    <div ng-hide="places.length" style="text-align: center; color: #b3b3b3; margin-top: 20px">
        Start your adventure by adding places to visit!
    </div>
</div>

<div id="bottom-bar">
    <button class="btn btn-raised btn-success submit" ng-show="places.length > 1" ng-click="submit()">Let's Go</button>
</div>
